# הפעלת mod_rewrite
RewriteEngine On

# הגדרת בסיס URL
RewriteBase /BankingApp/

# ניתוב כל הבקשות ל-public/index.php אם הקובץ או התיקייה לא קיימים
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]
