/* accounts.css */

ul#accounts-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#accounts-list li {
    background: #f8f8f8 ;
    border: 1px solid #ddd ;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    transition: background 0.3s, transform 0.3s;
}

ul#accounts-list li:hover {
    background: #f1f1f1;
    transform: translateY(-2px);
}

ul#accounts-list a {
    text-decoration: none !important;
    color: #333 !important;
    font-weight: bold !important;
    display: block;
}

ul#accounts-list a:hover {
    color: #6A82FB;
}

.error {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    color: red;
    border: 1px solid red;
    background: #ffe5e5;
}
