/* account_details.css */

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.account-info,
.transactions {
    margin-bottom: 20px;
}

.account-info h2,
.transactions h2 {
    margin-bottom: 10px;
    color: #444;
    font-size: 24px;
}

.transactions ul {
    list-style-type: none;
    padding: 0;
}

.transactions ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.transactions ul li:last-child {
    border-bottom: none;
}

.back-link {
    display: inline-block;
    padding: 10px 20px;
    background: #6A82FB;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

/* account_details.css */

.transactions table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transactions th, .transactions td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.transactions th {
    background-color: #f2f2f2;
    color: #333;
}

.incoming {
    color: green;
}

.outgoing {
    color: red;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    /* color: #6A82FB; */
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.back-link:hover {
    color: white;
}
